@using Microsoft.AspNetCore.Http.Features
@using PatniListi.Data.Models
@using PatniListi.Common
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!--Button doesn't disappear-->
@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
        <a type="button" id="hideButton" class="btn btn-primary" asp-area="Administration" asp-controller="Companies" asp-action="Edit" asp-route-id="@this.UserManager.GetUserAsync(User).Result?.CompanyId" onclick="hide">Моля, завършете регистрацията на фирмата.</a>

        <script>
            function hide() {
                var div = document.getElementyById('hideButton');
                div.style.display = 'none';
            }
        </script>
}