@using Microsoft.AspNetCore.Http.Features
@using PatniListi.Data.Models
@using PatniListi.Common
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
        <a type="button" id="hideButton" class="btn btn-primary btn-block" asp-area="Administration" asp-controller="Companies" asp-action="Edit" asp-route-id="@this.UserManager.GetUserAsync(User).Result?.CompanyId">Моля, завършете регистрацията на фирмата.</a>
}