@using PatniListi.Data.Models
@using Microsoft.AspNetCore.Identity
@using PatniListi.Services.Data
@using PatniListi.Web.ViewModels.Models.Routes
@inject IRoutesService routesService
@inject UserManager<ApplicationUser> UserManager
@model PatniListi.Web.ViewModels.Models.TransportWorkTickets.TransportWorkTicketInputViewModel

    <table class="table table-responsive-md table-hover">
        <tr class="text-white">
            <th>
                Маршрут
            </th>
            <th>
                Разстояние
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
        @foreach (var route in Model.Routes)
        {
            <tr>
            <td>
                @route.Route
            </td>
            <td>
                @route.Distance
            </td>
        </tr>
        }

        <tfoot>
            @{
                var TotalDistance = Model.Routes.Select(r => r.Distance).Sum();
            }
            <tr>
                <td>Общо:</td>
                <td id="totalDistance">@TotalDistance</td>
            </tr>
        </tfoot>
    </table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
