@using PatniListi.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model PatniListi.Web.ViewModels.Administration.Users.UserInputViewModel

@{
    ViewData["Title"] = "Добави шофьор";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
       <div class="card-body">
           <form asp-area="Administration" asp-controller="Drivers" asp-action="Create" method="post">
               <hr />
               <div class="row">
                   <div class="col-md-6">
                       <div class="form-group">
                           <label asp-for="Username"></label>
                           <input asp-for="Username" class="form-control" placeholder="Surya!1"/>
                           <span asp-validation-for="Username" class="text-danger"></span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label asp-for="Email"></label>
                           <input asp-for="Email" class="form-control" />
                           <span asp-validation-for="Email" class="text-danger"></span>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6">
                       <div class="form-group">
                           <label asp-for="Password"></label>
                           <input asp-for="Password" class="form-control" />
                           <span asp-validation-for="Password" class="text-danger"></span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="form-group">
                           <label asp-for="ConfirmPassword"></label>
                           <input asp-for="ConfirmPassword" class="form-control" />
                           <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-12">
                       <div class="form-group">
                           <label asp-for="FullName"></label>
                           <input asp-for="FullName" class="form-control" placeholder="Иван Иванов"/>
                           <span asp-validation-for="FullName" class="text-danger"></span>
                       </div>
                       <div class="form-group">
                           <input type="hidden" asp-for="CompanyId" readonly class="form-control" value="@this.UserManager.GetUserAsync(User).Result?.CompanyId" />
                       </div>
                   </div>
               </div>
               <br />

               <div class="form-group text-center">
                   <div class="button-holder">
                       <button type="submit" class="btn btn-primary btn-block text-uppercase">Добави</button>
                       <a class="nav-link text-uppercase text-center" asp-area="Administration" asp-controller="Drivers" asp-action="All">Шофьори</a>
                   </div>
               </div>
           </form>
       </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}