@page
@model Disable2faModel
@{
    ViewData["Title"] = "Сприране двуфакторната автентикация (2ФА)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Това действие само прекъсва двуфакторната автентикация.</strong>
    </p>
    <p>
        Прекъсването й не променя ключовете използвани в приложения за удостоверяване. Ако желаете да промените ключа, моля посетете <a asp-page="./ResetAuthenticator">нулиране на идентификационни ключове.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Прекъсни 2ФА</button>
    </form>
</div>
