@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Свали лични данни";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-md-center">@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}