@model PatniListi.Web.ViewModels.Models.Contacts.ContactFormViewModel
@using PatniListi.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Kонтакти";
}

    <div class="container justify-content-around">
        <div class="shadow py-4 px-4">
            <div class="text-center">
                <h1 class="profile-title">Може да ни откриете на посочените адреси!</h1>
                <br/>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="h1 text-center text-white">@ViewData["Title"]</div>
                    <h3>"Пътни Листи"</h3>
                    <address>
                        гр. София <br />
                        "Тинтява 17-18"<br />
                        <abbr title="Phone">Тел:</abbr>
                        +359 878 32 19 64
                    </address>

                    <h3>Офиси:</h3>
                    <address>
                        гр.Пловдив<br />
                        ул. Светлина 18 <br />
                        <abbr title="Phone">Тел:</abbr>
                        +359 878 32 25 00
                    </address>
                    <p class="mb-0"><strong>Емейл: </strong><i><a href="mailto:patni.Listi.bg@gmail.com">patniListi.bg@gmail.com</a></i></p>
                    <p class="mb-0"><strong>Skype: </strong><i>patniListi</i></p>
                </div>

                <div class="iframe-container col-md-8 embed-responsive-item">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.7442397451514!2d23.350088315921738!3d42.666774979167336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85cca4a719b7%3A0xdf53fcbcd8e758d7!2sSoftware%20University!5e0!3m2!1sen!2sbg!4v1587371574639!5m2!1sen!2sbg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="container justify-content-around">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-4">
                    <h1 class="profile-title">Очакваме вашите мнения и препоръки!</h1>
                </div>

                <div class="card card-plain shadow py-5 px-5">
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="FullName"></label>
                                        <input asp-for="FullName" readonly class="form-control text-white" value="@this.UserManager.GetUserAsync(User).Result?.FullName">
                                        <span asp-validation-for="FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" readonly class="form-control text-white" value="@this.UserManager.GetUserAsync(User).Result?.Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Title"></label>
                                        <input asp-for="Title" class="form-control">
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Content"></label>
                                        <textarea asp-for="Content" class="form-control"></textarea>
                                        <span asp-validation-for="Content" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <p>
                                Натискайки бутона "Изпрати", вие потвърждавате, че сте запознати и съгласни с нашата
                                <a asp-area="" asp-controller="Home" asp-action="Privacy">политика за опазване на личните данни.</a>
                            </p>
                            <button type="submit" class="btn btn-primary btn-block text-uppercase">Изпрати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
