
@{
    ViewData["Title"] = "Контакти";
}

    <div class="container shadow pl-4 pr-4 pb-2 text-white">

        <div class="h1 text-white text-center">Благодарим Ви, че се свързахте с нас!</div>
        <br>

        <h3 class="text-center text-center">Очаквайте отговор на посочения във формата имейл адрес.</h3>

        <div class="text-center">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-uppercase">Начало</a>
        </div>
    </div>
