@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Отказан достъп";
}

<header>
    <h1 class="text-danger text-md-center">@ViewData["Title"]</h1>
    <p class="text-danger text-md-center">Нямате достъп до този ресурс.</p>
</header>
