@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърдете имейл";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-md-center">@ViewData["Title"]</h1>
        <hr/>

        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</section>