@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение за забравена парола";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center text-white">@ViewData["Title"]</h1>
        <br />
        <br />

        <p class="h3 text-center text-white">
            Моля, проверете имейла си.
        </p>
    </div>
</section>
