@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>Излязохте успешно.</p>
        </header>
    </div>
</section>
