@using PatniListi.Common
@using PatniListi.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="dropdown">
        <div class="dropdown-content">
            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-primary">Администрация</a>
            <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="Companies" asp-action="Details" asp-route-id="@this.UserManager.GetUserAsync(User).Result?.CompanyId">Фирма</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="Drivers" asp-action="All">Добави шофьор</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="Cars" asp-action="All">Добави кола</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="Reports" asp-action="All">Всички фактури</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="TransportWorkTickets" asp-action="All">Всички пътни листи</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="Invoices" asp-action="All">Фирмени отчети</a>
                </li>
                <li>
                    <a class="nav-link" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Графики</a>
                </li>
            </ul>
        </div>
    </div>
}   