@{
    ViewData["Title"] = "За контакти";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Може да ни откриете на посочените адреси!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="h2 text-center text-white">@ViewData["Title"]</div>
        <div class="shadow py-5 px-5">
            <strong class="text-white">"Пътни Листи"</strong>
            <address>
                гр. София <br />
                "Тинтява 17-18"<br />
                <abbr title="Phone">Тел:</abbr>
                +359 878 32 19 64
            </address>
            
            <strong class="text-white">Офиси:</strong>
            <address>
                гр.Пловдив<br />
                ул. Светлина 18 <br />
                <abbr title="Phone">Тел:</abbr>
                +359 878 32 25 00
            </address>
            <p class="mb-0"><strong>Емейл: </strong><i><a href="mailto:patni.Listi.bg@gmail.com">patni.Listi.bg@gmail.com</a></i></p>
            <p class="mb-0"><strong>Skype: </strong><i>patniListi</i></p>
        </div>
    </div>

    <div class="col-md-8">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1582904563796!6m8!1m7!1sN98_3geNdNXxW6KeqYhTkA!2m2!1d42.66698633873362!2d23.3491565338628!3f191.26414!4f0!5f0.7820865974627469" width="700" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>