
@{
    ViewData["Title"] = "Ръководство за използване";
}

<div class="text-center">
    <h1 class="profile-title">@this.ViewData["Title"]</h1>
</div>

<div class="container shadow pl-4 pr-4 pb-2 text-white">
    <div class="h4 display-4 text-white">Регистрация:</div>
    <br>

    <p class="lead">
        Първият регистриран потребител за дадена фирма получава администраторски права, които му позволяват да поддържа цялостния профил на фирмата в системата.
        <br>

        В момента на неговата регистрация се регистрира и фирмата.
        <br>
    </p>

    <div class="h4 display-4 text-white">Администратор:</div>
    <br>

    <p class="lead">
        Единствено администратора може да регистрира автомобили и шофьори. Той има достъп до всички пътни листи, фактури и отчети спрямо избрани критерии.

        Получените права му позволяват да попълва, променя и изтрива при нужда дадена информация.
        <br>
    </p>

    <div class="h4 display-4 text-white">Шофьор:</div>
    <br>

    <p class="lead">
        Шофьорът използва системата единствено след успешна регистрация от администратора.

        Той има достъп само и единствено до поверените му автомобили.
        <br>
    </p>
</div>
