@using PatniListi.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="shadow py-5 px-5">
    <div class="text-center">
        <h1 class="profile-title">Добре дошли в ситемата на @GlobalConstants.SystemName!</h1>
        <br />
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="h3 text-center text-white">Вашите пътни листи на едно място!</div>
            <p class="h5 text-white" style="text-align:justify">
                @GlobalConstants.SystemName е безплатна програма за генериране на пътни листи и фактури за горива. Предназначена е за малки и средни фирми, с цел осчетоводяване и бързи справки.
                <br />
                <br />

                <br class="h5 text-white">Моля, запознайте се с ръковоството за използване и правилата ни за поверителност преди да започнете работа със системата.
                <br />
                <br />

                <br class="h5 text-white">Свържете се с нас при възникнали проблеми или предложения за подобряване на програмата.
                <br />
            </p>
        </div>

        <div class="col-md-6">
            <img src="~/Images/map4_big.jpg" />
        </div>
    </div>
</div>
