@using PatniListi.Common
@model PatniListi.Web.ViewModels.Models.Users.ApplicationUserHomeViewModel

@{
    ViewData["Title"] = "Съобщения";
}

<div class="container body-content shadow py-4 px-4">
    <table style="width: 100%;">
        <tr class="hed">
            <td>
                <table style="width:100%">
                    <tr>
                        <td>
                            Фирма:
                            <span class="text-white">@Model.CompanyName</span>&nbsp;&nbsp;
                            ЕИК:
                            <span class="text-white">@Model.CompanyBulstat</span>&nbsp;&nbsp;
                        </td>
                        <td align="right">
                            Последно влизане:
                            <time class="text-white" datetime="@Model.LastLoggingDate.ToString("O")"></time>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="mright">
                <div style="padding-right: 15px;">

                    <div style="text-align:center;">
                        <h3>Пътни листи - Версия 1.0</h3>
                        <h2></h2>

                        <fieldset>
                            <legend class="text-primary">ВАЖНО!!!</legend>
                            <hr />

                            <p><strong>Програмата "Пътни листи" все още е в тестова фаза!</strong></p>
                            <p><strong>При наличието на проблеми или предложения за подобряване на програмата пишете ни, за да може своевременно да ги отстраним/реализираме!</strong></p>
                            <hr />

                            <h3 class="text-primary">Екипът на Пътни листи Ви пожелава приятна работа с програмата!</h3>
                            <br />

                            @if (Model.CompanyBulstat == null)
                            {
                                <div>
                                    <partial name="_CompanyEditPartial" />
                                </div>
                            }

                        </fieldset>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


