@using PatniListi.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в ситемата на @GlobalConstants.SystemName!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="h3 text-center"><strong class="text-white">Вашите пътни листи на едно място!</strong></div>
        <div class="shadow py-5 px-5">
            <p style="text-align:justify">
                @GlobalConstants.SystemName е безплатна програма за генериране на пътни листи и фактури за горива. Предназначена е за малки и средни фирми, с цел осчетоводяване и бързи справки.
                <br>
                <br>Моля, запознайте се с ръковоството за използване и правилата ни за поверителност преди да започнете работа със системата.
                <br>
                <br>Свържете се с нас при възникнали проблеми или предложения за подобряване на програмата.
            </p>
        </div>
    </div>

    <div class="col-md-5">
        <img src="https://www.worldometers.info/img/maps/bulgaria_road_map.gif" />
    </div>
</div>
