@{
    this.ViewData["Title"] = "Правила за поверителност";
}

<div class="text-center">
    <h1 class="social-description">@this.ViewData["Title"]</h1>
</div>

<div class="container shadow pl-4 pr-4 pb-2 text-white">
    <div class="h4 display-4 text-white">Използвайки нашата система, вие ни се доверявате с вашите данни. Ние знаем, че това е голяма отговорност и работим усилено с цел да бъдат защитени и контролът им да бъде изцяло във вашите ръце.</div>
    <br>

    <p class="lead">
        Правилата за поверителност ви дават информация за това какви данни събираме и защо.
        <br>

        В тях са описани възможностите за обновяване, поддържане, изтегляне и изтриване на предоставените от вас данни.
    </p>
</div>
